/* Global/Base */

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

canvas { 
  width: 100%; 
  height: 100%;
  /* position: absolute;  */
}

body { 
  background-color: #7a6c5b;
  font-family: Helvetica, Arial, sans-serif; 
}

button {
  border-radius: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

select {
  background: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Utility Classes */
.btn {
  display: flex;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.btn--round {
  border-radius: 50%;
  padding: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.receive-clicks {
  pointer-events: all;
}

/* Overlaid Header (temporary) */

.overlaid-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 1rem 0.5rem 1.5rem;
  background-color: rgba(255,255,255, 0.1);
  color: #3A342B;
}

.overlaid-header h1 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1rem;
}

.overlaid-header p {
  line-height: 1.5;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.overlaid-header a {
  color: #6CA9C6;
  text-decoration: none;
}

#reflectButton {
  position: fixed;
  right: 15px;
  top: 15px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: #6CA9C6;
  color: #3A342B;
  outline: none;
  border: none;
  cursor: pointer;
}


/* Product Overlay Styles */

.product {
  position: fixed;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
}

.product__header {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  transition: opacity 0.3s;
}

.product__header.visible {
  opacity: 1;
}

.product__header .btn--round {
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: 1px solid #ccc;
  color: rgba(200,200,200,0.3);
}

.product__header .row {
  justify-content: space-between;
  height: 100%;
}

.product__header .product__header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 55vw;
}

.product__header .product__header-navigation p {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  font-size: 2.2em;
  color: rgba(255,255,255,0.7);
  letter-spacing:7px;
  font-weight: 100;
}

.product__sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40vw;
  transform: translateX(40vw);
  padding: 2rem;
  background-color: #fff;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  transition: transform 0.7s;
}

.product__sidebar.visible {
  transform: translateX(0);
}

.product__sidebar-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: -2rem;
  height: 8rem;
  margin-top: -4rem;
}

.product__sidebar-handle-button {
  display: flex;
  height: 4rem;
  width: 2rem;
}

.product__sidebar-handle-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.product__sidebar-handle .triangle {
  border: solid #fff;
  border-width: 1rem;
}

.triangle.triangle-bottom-left {
  border-left: 1rem solid transparent; 
  border-top: 1rem solid transparent; 
}

.triangle.triangle-top-right {
  border-bottom: 1rem solid transparent; 
  border-left: 1rem solid transparent; 
}

.product__sidebar-header {
  padding-left: 2rem;
}

.product__sidebar-header .row {
  justify-content: space-between;
}

.product__sidebar-brand {
  margin-bottom: 2rem;
  font-size: 1.3em;
  text-transform: uppercase;  
  font-weight: normal;
}

.product__sidebar-price {
  font-size: 2.5em;
  color: #ccc;
  font-weight: normal;
  letter-spacing: 3px;
}

.product__sidebar-name {
  font-size: 2.8em;
  font-weight: normal;
  margin-bottom: 2rem;
}

.product__sidebar-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.product__sidebar-size {
  margin-right: 2rem;
}

.product__sidebar-size select {
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  font-size: 1em;  
}

.product__sidebar-size svg {
  margin-left: -1.5rem;
}

.product__sidebar-add {
  padding: 0.5rem 3rem;
  border: 2px solid #000;  
  font-weight: normal;
  font-size: 0.9em;
}

.product__sidebar-add:hover {
  background-color: #eee;
  color: #555;
}

.product__sidebar-meta-titles {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

.product__sidebar-meta-titles a {
  padding-bottom: 0.3rem;
  margin-right: 1rem;
}

.product__sidebar-meta-titles a.visible {
  border-bottom: 2px solid #000;
}

.product__sidebar-meta-content {
  display: none;
}

.product__sidebar-meta-content.visible {
  display: flex;
}